[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/implot"]
	path = libs/implot
	url = https://github.com/epezent/implot
[submodule "libs/tinyexpr"]
	path = libs/tinyexpr
	url = https://github.com/codeplea/tinyexpr
